body {
  background-color: white;
  color: black;
}

.livelike-widgets-container {
  margin-top: 10px;
}

#login-overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  text-align: center;
  padding-top: 20vh;
}

.overlay-content {
  font: 6em;
  background-color: white;
}

.modal {
  /* some styles to position the modal at the center of the page */
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80vw;
  line-height: 200px;
  height: 80vh;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  /* needed styles for the overlay */
  z-index: 10;
  /* keep on top of other elements on the page */
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.modal > input {
  font-size: xx-large;
  width: 80%;
}

.modal > button {
  font-size: xx-large;
  width: 80%;
}

/* leaderboard style */

.leaderboard-table {
  text-align: left;
  table-layout: auto;
  width: 100%;
}

.leaderboard-table > thead {
  color: #003e77;
}

.profile-container {
  margin-top: 30px;
  color: black;
  background-color: white;
}

.profile-container > button {
  color: black;
  background-color: #003e77;
}

.profile-input {
  border-width: 2px;
  border-color: #003e77;
  border-radius: 20px;
}

.nav-tabs .nav-item .nav-link {
  color: black;
}

.nav-tabs .nav-item .nav-link.active {
  color: #003e77;
}

.vote-button {
  color: white !important;
  background-color: #003e77 !important;
}

livelike-footer {
  background-color: #dedede !important;
}

livelike-option {
  border-width: 1px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

livelike-option:not([incorrect], [correct]){
  border-color: #003e77 !important;
}

.small-text {
  font-size: 0.6em;
}

.red-text {
  color: red !important;
}

.header-container {
  background-color: #FF6400;
  color: white;
  text-align: center;
  font-size: 20px;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.header-row .header-row-left {
  display: flex;
  align-items: right;
  justify-content: right;
  width: 50%;
  font-size: 0.7em;
}

.header-row .header-row-right {
  display: flex;
  align-items: left;
  justify-content: left;
  width: 50%;
  font-size: 0.7em;
}

.header-user-info {
  background-color: #f2f3f7;
  padding-top: 5px;
  font-size: 1em;
}

.current-profile-list-item {
  border: 2px solid #007ac4;
}
.leaderboard-table tbody {
  background-color: #f2f3f7;

}

.leaderboard-table th,
.leaderboard-table td {
  padding: 8px;
}

.bounce{
  -webkit-animation: bounce 1.2s ease-out;
	-moz-animation: bounce 800ms ease-out;
	-o-animation: bounce 800ms ease-out;
	animation: bounce 1.2s ease-out;
}

@keyframes bounce {
  0% {
    transform:translateY(-100%);
    opacity: 0;
  }
  5% {
      transform:translateY(-100%);
      opacity: 0;
  }
  15% {
    transform:translateY(0);
  }
  30% {
    transform:translateY(-50%);
  }
  40% {
    transform:translateY(0%);
  }
  50% {
    transform:translateY(-30%);
  }
  70% {
    transform:translateY(0%);
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    opacity: 1;
  }
}
