/*
 CSS for the main interaction
*/
.tabset>input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  background-color: black;
  color: white;
  font: 3em "Overpass", "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
}

.tabset>label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset>label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: lightgray;
}

.tabset>label:hover,
.tabset>input:focus+label {
  color: red;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
  background: #06c;
}

.tabset>input:checked+label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.tabset {
  max-width: 65em;
}


/*###########################*/
#login-overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  text-align: center;
  padding-top: 20vh;
}

.overlay-content {
  font: 6em;
  background-color: white;
}

.modal {
  /* some styles to position the modal at the center of the page */
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80vw;
  line-height: 200px;
  height: 80vh;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  /* needed styles for the overlay */
  z-index: 10;
  /* keep on top of other elements on the page */
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.modal>input {
  font-size: xx-large;
  width: 80%;
}

.modal>button {
  font-size: xx-large;
  width: 80%;
}

/* leaderboard style */

.leaderboard-table {
  text-align: left;
  table-layout: auto;
  width: 100%;
}

.leaderboard-table>thead {
  color: red;
}